body  {
  margin: 0;
  color: #666;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", HelveticaNeue, "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "Sogoe UI", Verdana, "メイリオ", Meiryo, sans-serif;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: #666;
}

body {
  width: 88%;
  margin: 12% auto;
}

.container {
  display: flex;
  padding: 6% 0 3%;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
}

.name {
  margin-left: 2%;
}

.name > h1 {
  font-weight: normal;
  letter-spacing: 0.06em;
}

.content {
  display: flex;
  padding: 3% 0;
}

.main {
  flex: 1;
  padding-right: 4%;
  margin-right: 4%;
  border-right: 1px solid #e0e0e0;
}

.profile > h1 {
  margin-bottom: 3%;
  font-size: 22px;
  font-weight: normal;
}

.profile > p {
  font-size: 15px;
  line-height: 1.7;
  letter-spacing: 0.05em;
  margin-bottom: 5%;
}

.profile > p:last-child {
  margin-bottom: 0;
  font-size: 14px;
}

.side {
  width: 200px;
}

.side > ul {
  margin: 0;
  padding: 0;
}

.side > ul > li {
  list-style-type: none;
  border: #999 solid 1px;
  margin-bottom: 16px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  letter-spacing: 0.08em;
}

.side > ul > li > a {
  display: block;
  text-decoration: none;
  transition: .4s;
}

.side > ul > li > a:hover {
  background-color: #666;
  color: white;
}

footer {
  /* background-color: yellow; */
  padding: 3% 0 6%;
}

footer > p {
  text-align: center;
  font-size: 13px;
  letter-spacing: 0.075em;
  color: #999;
}