@charset "UTF-8";

body {
  margin: 0;
  padding: 0;
  color: #444;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: #444;
  text-decoration: none;
}

.container {
  width: 75%;
  margin: 0 auto;
  padding: 8% 0;
  text-align: center;
}

.img-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: #999 solid 1px;
  padding: 3px;
}

.title > h1 {
  font-size: 26px;
  font-weight: normal;
  letter-spacing: 0.05em;
  margin: 12px 0;
}

.title > p {
  font-size: 14px;
}

section {
  background-color: #f7f7f7;
}

.content {
  width: 75%;
  margin: 0 auto;
  padding: 8% 0;
  text-align: center;
}

.link {
  width: 100%;
  margin-bottom: 24%;
}

.link-content {
  margin-bottom: 40px;
}

.link-content:last-child {
  margin-bottom: 0;
}

.link-content > h1 {
  font-weight: normal;
  margin-bottom: 16px;
}

.link-content > p {
  display: inline-block;
  width: 75%;
  height: 70px;
  line-height: 70px;
  border: #333 solid 1px;
}

.link-content > p > a {
  display: block;
  background-color: #444;
  color: #efefef;
  transition: .4s;
  letter-spacing: 0.05em;
}

.link-content > p > a:hover {
  background-color: #efefef;
  color: #444;
}

.profile > h1 {
  font-weight: normal;
  margin-bottom: 16px;
}

.profile > p {
  line-height: 1.7;
}

footer {
  width: 75%;
  margin: 0 auto;
  padding: 8% 0;
  text-align: center;
}

.archive {
  margin-bottom: 8%;
}

.archive > p > a {
  font-size: 14px;
  color: #666;
}

.archive > p > a:hover {
  text-decoration: underline;
  color: #888;
}

.footer > p {
  font-size: 13px;
  color: #888;
}